:root {
    --color-primary: #15202b;
    --color-secondary: aliceblue;
    --color-neon-blue: #4dddff
}

* {
    font-family: 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url(./assets/Adult-Swim-Font/Adult-Swim-Font.ttf);
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100vw;
}

.image {
    width: 40vw;
    height: 100vh;
    background: url('/assets/casey-horner-RmoWqDCqN2E-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 50%;
}

#banner {
    text-align: center;
    background: rgba(0,0,0, 0.5);
    font-family: 'Helvetica Neue', sans-serif;
    color: var(--color-secondary);
    letter-spacing: 1rem;
    font-size: 2rem;
    height: 150px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 15px 0;
}

#logo {
    max-height: 100%;
}

#attribution {
    text-align: center;
    font-family: 'Hellvetica Neue', sans-serif;
    color: var(--color-secondary);
    font-size: 1.2rem;
}

#attribution a {
    color: var(--color-secondary);
}

.form {
    box-sizing: border-box;
    width: 60vw;
    height: 100vh;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 1rem 3rem;
}

.form h1 {
    font-size: 2rem;
}

label {
    font-size: 1.5rem;
}

.form-cell {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.form-cell input {
    border-radius: 5px;
    border: none;
    font-size: 1.5rem;
}

#log-in {
    text-decoration: none;
    color: var(--color-neon-blue);
}

#log-in:hover {
    color:var(--color-secondary)
}